body{
  background: url('../moon.jpg/');
}
.snpt{
    border-radius: 2px;
	height: 425px;
    border-radius: 1px;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.happy{
    border-radius: 2px;
    border: 1px solid black;
}
.hapy{
    border-radius: 2px;
    border: 1px solid #5ce438;
}
.hay{
    border-radius: 2px;
    border: 1px solid rgba(51, 122, 183, 0.86);
}
.ha{
    border-radius: 2px;
    border: 1px solid rgba(234, 89, 82, 0.86);
}
.h{
    border-radius: 2px;
    border: 1px solid #ffb6c1;
}
.navbar-default {
    background-color: white;
    border-radius: 0px;
    border-color: #fff;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: black;
}
nav form#search {
    padding: 0.9em;
    margin-top: -5px;
}
nav form#search .input-group {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
nav form#search .input-group .form-control {
    border-radius: 0.25em;
    border: none;
    width: 70%;
    padding-left: 1.9em;
    background-color: #F3F3F3;
    box-shadow: none;
}
nav form#search .input-group .form-control:focus {
    width: 190%;
    box-shadow: none;
}
nav form#search .glyphicon-search {
    z-index: 99;
    left: 1.7em;
}
.tags {
  margin: 0;
  padding: 1em;
  list-style: none;
}
.tags li {
  display: inline-block;
  margin: .5em;
}
.tags { 
  margin-left: 10em;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
a.button:hover{
    text-decoration: none;
    color: white;
}
.uniquee {
    margin-top: -25px;
    display: none;
}
.unique{
  margin-top: -30px;
  display: block;
}
@media screen and (max-width: 480px){
  .unique {
    display: none;
  }
  .uniquee {
    margin-top: -25px;
    display: block;
  }
  div.planet-expan{
    display: block;
  }
}
.panel {
    /* margin-bottom: 20px; */
    background-color: #fff;
    border: 0px !important;
    border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 !important;
    box-shadow: 0px !important; 
}
.success{
    color: forestgreen;
}
.danger{
    color: red;
}
.cool-link{
    color: #F68B1E;
}

.button {
    min-width: 0;
    color: #fff;
    background-color: #2182d6;
}
.button-danger {
    min-width: 0;
    color: #fff;
    background-color: #d43f3a;
    padding: 0.5em 2em;
    margin-top: 1.5em;
    margin-right: 0.6em;
    font-weight: bold;
    border-radius: 4px;
}
a.button-danger:hover{
    text-decoration: none;
    color: white;
}
a.button-danger:hover{
    text-decoration: none;
    color: white;
}
a.button:hover{
    text-decoration: none;
    color: white;
}
a.button-twitter:hover{
    text-decoration: none;
    color: white;
}
.panel-body{
  background-color: #fff;
}
body{
  background-color: #eee;
}
.navbar-default {
  background-color: white;
}
.button {
    min-width: 0;
    color: #fff;
    background-color: #2182d6;
    padding: 0.5em 2em;
    margin-top: 1.5em;
    margin-right: 0.6em;
    font-weight: bold;
    border-radius: 4px;
}
.button-twitter {
    min-width: 0;
    color: #fff;
    background-color: #1da1f2;
    padding: 0.5em 2em;
    margin-top: 1.5em;
    margin-right: 0.6em;
    font-weight: bold;
    border-radius: 4px;
}
.button-danger {
    min-width: 0;
    color: #fff;
    background-color: #d43f3a;
    padding: 0.5em 2em;
    margin-top: 1.5em;
    margin-right: 0.6em;
    font-weight: bold;
    border-radius: 4px;
}
.flex-container{
    -moz-column-width: 235px;
    -webkit-column-width: 235px;
    column-width: 235px;
            
    -moz-column-count: 5;
    -webkit-column-count: 6;
    column-count: 5;
            
}
.navbar-default {
    background-color: white;
    border-radius: 0px;
}
.navbar-default .navbar-nav > li > a{
    color: #ccc;
}
.navbar-default .navbar-nav > .active > a{
    background-color: transparent;
    color: #FFF;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: #ccc;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    color: black;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid black;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: black;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid black;
}
@media(max-width:767px){
    .navbar-default .navbar-nav > .active > a {
        border-bottom: none;
        border-left: 0.45em solid black;
        padding-left: 0.5em;
        border-bottom: none;
    }
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > li > a:hover {
        background-color: transparent;
        color: black;
        padding-bottom: 0.62em;
        border-bottom: none;
        border-left: 0.45em solid black;
        padding-left: 0.5em;
    }
}

.glyphicon-search {
    z-index: 99;
    left: 1.7em;
}
.specialBar{
    display: none;
}
@media screen and (max-width: 767px){
    .specialBar{
        display: block;
    }
    .xs{
      display: none;
    }
}


nav form#seah .input-group .form-control {
    border-radius: 0.25em;
    border: none;
    width: 100%;
    padding-left: 1.9em;
    background-color: #F3F3F3;
    box-shadow: none;
}


@media screen and (max-width: 425px){
    a.loppp:first-child{
      display: none;
    }
    .float {
      bottom: 8px !important;
      right: 15px !important;
    }
    .floatt {
      bottom: 78px !important;
      right: 15px !important;
    }
    .floattt {
      bottom: 148px !important;
      right: 15px !important;
    }
}
body{
  background: #e5e7fi !important;
}
img.baby_mama{
    width: 100%;
    max-width: 318px;
    max-height: 106px;
}
.navbar-default {
    background-color: white;
    border-radius: 0px;  
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 7px 10px;
    margin-top: 11px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #F3F3F3;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    color: black;
}
.label-container{
  position:fixed;
  bottom:48px;
  right:105px;
  display:table;
  visibility: hidden;
}

.label-text{
  color:#FFF;
  background:rgba(51,51,51,0.5);
  display:table-cell;
  vertical-align:middle;
  padding:10px;
  border-radius:3px;
}

.label-arrow{
  display:table-cell;
  vertical-align:middle;
  color:#333;
  opacity:0.5;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:black;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}
/**  **/
.floatt{
  position:fixed;
  width:60px;
  height:60px;
  bottom:120px;
  right:40px;
  background-color:#2757e6;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.floattt{
  position:fixed;
  width:60px;
  height:60px;
  bottom:200px;
  right:40px;
  background-color:#39dabe;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float{
  font-size:24px;
  margin-top:18px;
}

a.float:hover, a.floatt:hover,a.floattt:hover {
  color: #fff;

}
.text-white {
  background-color: white;
}
.love{
  margin-top: -35px;
  margin-bottom: 30px;
}
.indicator {
  background-color: #eee !important;
}
.Discover{
  background-color: #3677da;
  color: #fff;
}
.Phones{
  background-color: #da367a;
  color: #fff;
}
.Laptops{
  background-color: #8d5ee8;
  color: #fff;
}
.Tv{
  background-color: #daa036;
  color: #fff;
}
.Shirts{
  background-color: #da36a0;
  color: #fff;
}
.WDresses{
  background-color: #36daa5;
  color: #fff;
}
.WWatches{
  background-color: #de6865;
  color: #fff;
}
.MWatches{
  background-color: #8865de;
  color: #fff;
}
.WBags{
  background-color: #15c765;
  color: #fff;
}
.HeadPhone{
  background-color: #1596c7;
  color: #fff;
}
.Cosmetics{
  background-color: #1815c7;
  color: #fff;
}
#id_url_locator, #id_email,#id_feelings,#id_content,#id_current_location  {
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    border-style: none;
    border: 0px;
    background-color: #F3F3F3;
    border-color: transparent;
}
.nav-scroller {
  background-color: #fff;
  position: relative;
  height: 3.98rem;
  z-index: 2;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
}