{% extends 'home_page.html' %}
{% load static %}
{% load bootstrap3 %}
{% block adss %}
active
{% endblock %}
{% block conten %}
<br>
<br>
<br>
<div class="col-sm-6 col-sm-offset-3">
	<div class="panel panel-default">
		<div class="panel-body">
			Dear Ladies & Gentlemen,

			<p>I Build cool stuff, and i can help you bring your great ideas to life</p>

      <ul class="list-inline">
        <li><a href="http://washinga.herokuapp.com">Rifqoh(A shopify clone)</a> <i class="fa fa-link"></i></li>
        <h5>Features include</h5>
        <ol>
          <li>Users can create a shop</li>
          <li>Add products to there shop and edit them</li>
          <li>Users have unique urls to share with customers</li>
          <li>Extremely simple use</li>
        </ol>
        <br>
        <li><a href="http://ourquicknotes.herokuapp.com">Quicknote( A site that allow students share practise question and answer between users)</a> <i class="fa fa-link"></i></li>
        <h5>Features include</h5>
        <ol>
          <li>Has forum</li>
          <li>Social login</li>
          <li>Has twitter like news feed</li>
          <li>Extremely simple use</li>
        </ol>
      </ul>
			<br>
			Oye Johnson Olalekan. 08087307896
			<br>
			<br>
     <!--  {% if request.user.is_authenticated %}
        <a href="{% url 'adengine:index' %}" class="btn btn-danger btn-block">Go to dashboard</a>
      {% else %}
    		<a href="{% url 'register' %}" class="btn btn-danger btn-block">Register</a>
    		<p style="text-align: center;">or</p>
    		<a  href="#myModal" role="button" data-toggle="modal" class="btn btn-primary btn-block">Login</a>
      {% endif %}
 -->		</div>
	</div>
</div>
<!-- {{ form.as_p }} -->

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-envelope"></i> Send us Feedback</h4>
      </div>
      <div class="modal-body feedback-loop">
      <!-- <h4>Please send us your feed back in other to improve the site</h4> -->
      <div style="padding: 5px">
      {% if form.error %}
      <p>
        Your username didn't match,Please try again
      </p>
    {% else %}
      <p>Please, use the following form to log-in. if you don't have an account register here</p>
    {% endif %}
  <h4>Login with your Email or username</h4>
    <form action="{% url 'login' %}" method="post">
      {% bootstrap_form form %}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}"/>
      <p><input type="submit" value="Log-in" class="btn btn-block btn-danger"></p>
    </form>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}