{% extends 'home_page.html' %}
{% load bootstrap3 %}
{% block logn %}active{% endblock %}
{% load staticfiles %}
{% block conten %}
<div class="col-sm-4 col-sm-offset-4">
	<div class="panel panel-default" style="border-color: #d43f3a;border-radius: 5px !important;">
		<div class="panel-body" style="border-color: #d43f3a;border-radius: 5px !important;">
			<h1 class="text-center"><img src="{% static 'strip.png' %}" width='70px' style="margin: -10px;"> Log-in</h1>

			<hr>
		{% if form.error %}
			<p>
				Your username didn't match,Please try again
			</p>
		{% else %}
			<p>Please, use the following form to log-in. if you don't have an account register here</p>
		{% endif %}
	<h4>Login with your Email or username</h4>
		<form action="{% url 'login' %}" method="post">
			{% bootstrap_form form %}
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}"/>
			<p><input type="submit" value="Log-in" class="btn btn-block btn-danger"></p>
		</form>
</div>
		<div class="panel-footer text-center" style="border-bottom-left-radius: : 5px !important;border-bottom-right-radius: : 5px !important;">Don't have an account?<a href="{% url 'register'%}"> Sign up</a></div>
</div>
	</div>
{% endblock %}