{% extends 'analytics/b_based.html' %}
{% block header %}Dashboard{% endblock %}
{% block active %}active{% endblock %}
{% block content %}

  <!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->

	<canvas class="my-4" id="line-chart" width="900" height="380"></canvas>

	<canvas class="my-4" id="line-chrt" width="900" height="380"></canvas>

	<canvas class="my-4" id="line-cht" width="900" height="380"></canvas>
{% endblock %}
{% block heo %}
$(document).ready(function(){
	$.ajax({
		method:'GET',
		url: '/analytics/pageview/',
		success: function(data){
			console.log(data.data_set)
			new Chart(document.getElementById("line-chart"), {
		  type: 'line',
		  data: {
		    labels: data.days,
		    datasets: [{ 
		        data: data.data_set,
		        label: "Page Views",
		        borderColor: "#3e95cd",
		        backgroundColor: '#3e95cd',
		        fill: false
		      }
		    ]
		  },
		});
		}
	})
	$.ajax({
		method:'GET',
		url: '/analytics/usergrowth/',
		success: function(data){
			console.log(data.data_set)
			new Chart(document.getElementById("line-chrt"), {
		  type: 'line',
		  data: {
		    labels: data.dayses,
		    datasets: [{ 
		        data: data.data_s,
		        label: "New Users",
		        borderColor: "#20de1f",
		        backgroundColor: '#20de1f',
		        fill: false
		      }
		    ]
		  },
		});
		}
	})
	$.ajax({
		method:'GET',
		url: '/analytics/userclicks/',
		success: function(data){
			console.log(data.data_set)
			new Chart(document.getElementById("line-cht"), {
		  type: 'line',
		  data: {
		    labels: data.dayses,
		    datasets: [{
		        data: data.data_s,
		        label: "User Clicks",
		        borderColor: "#5af1b7",
		        backgroundColor: '#5af1b7',
		        fill: false
		      }
		    ]
		  },
		});
		}
	})
});
{% endblock %}