{% extends 'analytics/b_based.html' %}
{% block header %}Number of users{% endblock %}
{% block customers %}active{% endblock %}
{% block content %}
<div class="table-responsive">
<table class="table table-striped table-sm">
  <thead>
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Location</th>
        <th>Time</th>
    </tr>
  </thead>
  <tbody class="hello">
	{% include 'analytics/number_c_ajax.html' %}
</div>
</tbody>
</table>
</div>
{% endblock %}
{% block heo %}
	var page = 1;
    var empty_page = false;
    var block_request = false;
    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $('.load').show();
        $.get('?page=' + page, function(data) {
            if(data == '')
            {
                empty_page = true;
                $('.load').hide();
                $('.lastThingboy').html('<h4>Nothing to see</h4>')
            }
            else {
                    block_request = false;
                    $('.load').hide();
                    $('.hello').append(data);
              }
            });
      }
    });
{% endblock %}